
/******************************
*nav bar styling 
*******************************/
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar{
	background-color: #f05f40;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-brand{
   padding: 13px 15px;
}
span.glyphicon {
  padding-right: 12px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  color: #fff;
  background-color: #f05f40;
}
.tab-panel h2 {
  color: #747266;
}
tr.tb-header {
  color: #b7b5aa;
  font-size: 20px;
}
.panel-tweak {
  border-color: #ffffff;
}
/*.panel-default>.panel-heading */
.panel-tweak>.panel-heading{
  color: #ffffff;
  background-color: #f05f66;
}

#profile, 
#account, 
#billing {
  width: 50%;
}

/************************
*login from 
*************************/
form.login-form {
  margin: 10px 20px;
}

.login-panel {
  margin-top: 100px;
}
.contact-panel{
  margin-top: 65px;
}

/**************************
*admin styling 
***************************/

/*h2.clients-acc-h2 {
  padding-left: 15px;
}*/

.client-admin.thumbnail {
  width: 540px;
  overflow: hidden;
}
.client-admin.thumbnail>img {
  display: block;
  max-width: 100%;
  margin-right: 0px;
  float: left;
  width: 200px;
  margin-left: 0px;
}
.client-admin>.caption {
  float: right;
  width: 60%;
}

ul.client-admin-details {
  list-style: none;
  padding-left: 0px;
  margin: 30px 0px;
}
.client-admin-details>li {
  padding: 5px 0px;
  font-size: 16px;
}
span.client-key {
  color: gray;
}
a.acc-options {
  margin-right: 8px;
}
.acc-options span.glyphicon {
  padding-right: 5px;
}
a.acc-options.acc-options-del {
  color: #FF4136;
}
a.acc-options.acc-options-act {
  color: #2ECC40;
}
td.active-status {
  color: #39CCCC;
}
td.inactive-status{
  color: #AAAAAA;
}
.client-actions span.glyphicon {
  padding-right: 5px;
}

a.client-actions-view {
  color: #f0ad4e;
  margin-right: 12px;
}

a.client-actions-del {
  color: #d9534f;
}


/********************
* Add client account 
*********************/
.container.add_client_acc {
  margin-bottom: 100px;
}

/*******************
*invoice styling 
********************/
.client-details {
  clear: both;
  padding-left: 20px;
}
.hataricloud-details ul {
  list-style: none;
  font-size: 16px;
  padding-left: 0px;
}
.hataricloud-details li {
  padding-bottom: 5px;
}

/* position bootstrap modal window */
.modal-dialog{
  position: absolute;
  top: 25%;
  left: 12%;
}